body {
    background-color:#f1f5f9 ;
    color: #1e293b!important;
}

.grou {
    color:#f1f5f9!important ;

}

nav , footer {
    background-color: #1e293b!important;
}

button {
    background-color: #059669;
}

nav {
    background-color: #FFF6E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
}

.grou {
    color: black;
    text-decoration: none;

}
#links {
    display: flex;
    gap: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

#logo {
    max-height: 50px;
    margin: 10px;
}


footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #FFF6E9;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
}


#main {
    max-height: 250px;
    
}

button {
    background-color: #0D9276;
    color: white;
    padding-left:25px ;
    padding-right:25px ;
    padding-top: 5px;
    padding-bottom: 5px ;
    margin: 10px;
    border: 0px;
    border-radius: 10px;
}